<script lang="ts">
    import type { PageData } from "./$types";
    import SettingsForm from "$lib/components/Form.svelte";
    export let data: PageData;
    import { Button } from '$lib/components/ui/button';
    import { toast } from 'svelte-sonner';
</script>


<div class="mx-auto w-96 my-8">
    <SettingsForm data={data.form} />
    <Button on:click={()=>{toast.success("boo")}} class="my-8">This button shows the toast</Button>
</div>

